@import '../colors/_colors.scss';
@import '../components/_all-components.scss';
@import '../misc/_all-misc.scss';

body {
    a {
        text-decoration: none;
    }

    .section-title {
        @include secondary-heading
    }

    p {
        @include standard-text
    }

    .text-xs {
        @include text-xs
    }

    .text-s {
        @include text-s
    }

    .text-m {
        @include text-m
    }

    .text-lg {
        @include text-lg
    }

    .text-xl {
        @include text-xl
    }

    h1 {
        @include h1
    }

    h2 {
        @include h2
    }

    h3 {
        @include h3
    }

    h4 {
        @include h4
    }

    h5 {
        @include h5
    }

    h6 {
        @include h6
    }
}

#service-page {

    #page-title {
        background-color: $background-gray;

        .content {
            height: 300px;
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    #our-services {
        .container {
            padding-top: 90px;

            .service-content {
                .content-box {
                    a {
                        border: 2px solid #eaeaea;
                    }
                }
            }
        }
    }
}
