@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.wrapper {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
}

.container {
  position: relative;
  width: 100%;
  padding-left: 400px;
  padding-right: 400px;
  padding-top: 90px;
  padding-bottom: 90px;
  margin-left: auto;
  margin-right: auto;
}

#topbar {
  background-color: #4F5955;
}
#topbar .container {
  padding-top: 0;
  padding-bottom: 0;
}
#topbar .container .topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#topbar .container .topbar p {
  color: #FFFFFF;
}
#topbar .container .topbar .social-media {
  display: flex;
  align-items: center;
}
#topbar .container .topbar .social-media a i {
  padding: 20px;
  border-right: 2px solid #606966;
  color: #FFFFFF;
}
#topbar .container .topbar .social-media a .fb {
  border-left: 2px solid #606966;
}

#company-logos .container .companies {
  display: flex;
  justify-content: space-evenly;
}

footer {
  background-color: #000000;
}
footer .container {
  padding-top: 20px;
  padding-bottom: 20px;
}
footer .container .content {
  display: flex;
  align-items: center;
}
footer .container .content .text {
  color: #323936;
}
footer .container .content .text a {
  text-decoration: none;
  color: #D9C3A9;
  font-size: 14px;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
*, *::before, *::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: black;
}

html, body, section, div, header, footer, main, aside, nav, blockquote {
  margin: 0;
  padding: 0;
}

img, svg {
  vertical-align: middle;
}

body {
  line-height: 160%;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-size: 16px;
  color: #535656;
}

header .container {
  padding-top: 20px;
  padding-bottom: 20px;
}
header .container .content {
  display: flex;
  align-items: center;
  gap: 200px;
}
header .container .content .nav ul {
  display: flex;
  justify-content: center;
  gap: 70px;
  list-style-type: none;
}
header .container .content .nav ul li {
  transition: transform 0.3s ease;
}
header .container .content .nav ul li a {
  color: #323936;
  font-weight: 700;
  font-size: 16px;
}
header .container .content .nav ul li:hover {
  transition: transform 0.3s ease;
  transform: scale(1.1);
}
header .container .content .nav ul li.current a {
  color: #D9C3A9;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
*, *::before, *::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: black;
}

html, body, section, div, header, footer, main, aside, nav, blockquote {
  margin: 0;
  padding: 0;
}

img, svg {
  vertical-align: middle;
}

body {
  line-height: 160%;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-size: 16px;
  color: #535656;
}

#our-services .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#our-services .container .service-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#our-services .container .service-content h2 {
  width: 50%;
  margin: 0;
  padding-bottom: 35px;
}
#our-services .container .service-content .content-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
#our-services .container .service-content .content-box a div {
  background-color: #FFFFFF;
}
#our-services .container .service-content .content-box a div h5 {
  padding: 30px;
}
#our-services .container .service-content .content-box a div p {
  color: #323936;
  padding: 30px;
}
#our-services .container .service-content .content-box a div img {
  transition: transform 0.3s ease;
}
#our-services .container .service-content .content-box a:hover img {
  transform: scale(1.1);
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
*, *::before, *::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: black;
}

html, body, section, div, header, footer, main, aside, nav, blockquote {
  margin: 0;
  padding: 0;
}

img, svg {
  vertical-align: middle;
}

body {
  line-height: 160%;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-size: 16px;
  color: #535656;
}

#contact {
  background-color: #F7F7F7;
  position: relative;
  z-index: -3;
}
#contact .container {
  padding-bottom: 0;
  padding-top: 30px;
}
#contact .container .content {
  display: grid;
  gap: 200px;
  grid-template-columns: 1fr 1fr;
}
#contact .container .content .image-box {
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  height: 700px;
}
#contact .container .content .image-box img {
  position: absolute;
}
#contact .container .content .image-box .shape {
  bottom: 0;
  z-index: -1;
}
#contact .container .content .image-box .dots {
  bottom: 0;
  right: 0;
  z-index: -2;
}
#contact .container .content .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
#contact .container .content .info h2 {
  width: 80%;
}
#contact .container .content .info .contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
#contact .container .content .info .contact-info div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#contact .container .content .info .contact-info div .address, #contact .container .content .info .contact-info div .phone, #contact .container .content .info .contact-info div .email {
  font-weight: 600;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
*, *::before, *::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: black;
}

html, body, section, div, header, footer, main, aside, nav, blockquote {
  margin: 0;
  padding: 0;
}

img, svg {
  vertical-align: middle;
}

body {
  line-height: 160%;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-size: 16px;
  color: #535656;
}

.wrapper {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
}

.container {
  position: relative;
  width: 100%;
  padding-left: 400px;
  padding-right: 400px;
  padding-top: 90px;
  padding-bottom: 90px;
  margin-left: auto;
  margin-right: auto;
}

#topbar {
  background-color: #4F5955;
}
#topbar .container {
  padding-top: 0;
  padding-bottom: 0;
}
#topbar .container .topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#topbar .container .topbar p {
  color: #FFFFFF;
}
#topbar .container .topbar .social-media {
  display: flex;
  align-items: center;
}
#topbar .container .topbar .social-media a i {
  padding: 20px;
  border-right: 2px solid #606966;
  color: #FFFFFF;
}
#topbar .container .topbar .social-media a .fb {
  border-left: 2px solid #606966;
}

#company-logos .container .companies {
  display: flex;
  justify-content: space-evenly;
}

footer {
  background-color: #000000;
}
footer .container {
  padding-top: 20px;
  padding-bottom: 20px;
}
footer .container .content {
  display: flex;
  align-items: center;
}
footer .container .content .text {
  color: #323936;
}
footer .container .content .text a {
  text-decoration: none;
  color: #D9C3A9;
  font-size: 14px;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
*, *::before, *::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: black;
}

html, body, section, div, header, footer, main, aside, nav, blockquote {
  margin: 0;
  padding: 0;
}

img, svg {
  vertical-align: middle;
}

body {
  line-height: 160%;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-size: 16px;
  color: #535656;
}

header .container {
  padding-top: 20px;
  padding-bottom: 20px;
}
header .container .content {
  display: flex;
  align-items: center;
  gap: 200px;
}
header .container .content .nav ul {
  display: flex;
  justify-content: center;
  gap: 70px;
  list-style-type: none;
}
header .container .content .nav ul li {
  transition: transform 0.3s ease;
}
header .container .content .nav ul li a {
  color: #323936;
  font-weight: 700;
  font-size: 16px;
}
header .container .content .nav ul li:hover {
  transition: transform 0.3s ease;
  transform: scale(1.1);
}
header .container .content .nav ul li.current a {
  color: #D9C3A9;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
*, *::before, *::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: black;
}

html, body, section, div, header, footer, main, aside, nav, blockquote {
  margin: 0;
  padding: 0;
}

img, svg {
  vertical-align: middle;
}

body {
  line-height: 160%;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-size: 16px;
  color: #535656;
}

#our-services .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#our-services .container .service-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#our-services .container .service-content h2 {
  width: 50%;
  margin: 0;
  padding-bottom: 35px;
}
#our-services .container .service-content .content-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
#our-services .container .service-content .content-box a div {
  background-color: #FFFFFF;
}
#our-services .container .service-content .content-box a div h5 {
  padding: 30px;
}
#our-services .container .service-content .content-box a div p {
  color: #323936;
  padding: 30px;
}
#our-services .container .service-content .content-box a div img {
  transition: transform 0.3s ease;
}
#our-services .container .service-content .content-box a:hover img {
  transform: scale(1.1);
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
*, *::before, *::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: black;
}

html, body, section, div, header, footer, main, aside, nav, blockquote {
  margin: 0;
  padding: 0;
}

img, svg {
  vertical-align: middle;
}

body {
  line-height: 160%;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-size: 16px;
  color: #535656;
}

#contact {
  background-color: #F7F7F7;
  position: relative;
  z-index: -3;
}
#contact .container {
  padding-bottom: 0;
  padding-top: 30px;
}
#contact .container .content {
  display: grid;
  gap: 200px;
  grid-template-columns: 1fr 1fr;
}
#contact .container .content .image-box {
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  height: 700px;
}
#contact .container .content .image-box img {
  position: absolute;
}
#contact .container .content .image-box .shape {
  bottom: 0;
  z-index: -1;
}
#contact .container .content .image-box .dots {
  bottom: 0;
  right: 0;
  z-index: -2;
}
#contact .container .content .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
#contact .container .content .info h2 {
  width: 80%;
}
#contact .container .content .info .contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
#contact .container .content .info .contact-info div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#contact .container .content .info .contact-info div .address, #contact .container .content .info .contact-info div .phone, #contact .container .content .info .contact-info div .email {
  font-weight: 600;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
*, *::before, *::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: black;
}

html, body, section, div, header, footer, main, aside, nav, blockquote {
  margin: 0;
  padding: 0;
}

img, svg {
  vertical-align: middle;
}

body {
  line-height: 160%;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-size: 16px;
  color: #535656;
}

body a {
  text-decoration: none;
}
body .section-title {
  line-height: 160%;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-weight: 700;
  color: #D9C3A9 !important;
}
body p {
  line-height: 160%;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin: 0;
}
body .text-xs {
  line-height: 160%;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-size: 13px !important;
}
body .text-s {
  line-height: 160%;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-size: 14px !important;
}
body .text-m {
  line-height: 160%;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-size: 16px !important;
}
body .text-lg {
  line-height: 160%;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-size: 18px !important;
}
body .text-xl {
  line-height: 160%;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-size: 20px !important;
}
body h1 {
  line-height: 160%;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-weight: 700;
  color: #323936;
  font-size: 70px !important;
}
body h2 {
  line-height: 160%;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-weight: 700;
  color: #323936;
  font-size: 40px !important;
}
body h3 {
  line-height: 160%;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-weight: 700;
  color: #323936;
  font-size: 30px !important;
}
body h4 {
  line-height: 160%;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-weight: 700;
  color: #323936;
  font-size: 25px !important;
}
body h5 {
  line-height: 160%;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-weight: 700;
  color: #323936;
  font-size: 22px !important;
  font-weight: 600;
}
body h6 {
  line-height: 160%;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-weight: 700;
  color: #323936;
  font-size: 18px !important;
  font-weight: 500;
}

#home-page #hero-section {
  position: relative;
}
#home-page #hero-section img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
#home-page #hero-section .container a {
  text-decoration: none;
  display: inline-flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  border-radius: 3px;
  transition: transform 0.3s ease;
  font-weight: 700;
  color: #F2EDDC;
  background-color: #323936;
}
#home-page #hero-section .container a:hover {
  transform: scale(1.05);
}
#home-page #hero-section .container p {
  line-height: 160%;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-size: 16px !important;
}
#home-page #about-us .container .content {
  display: flex;
  flex-direction: column;
  align-content: start;
  gap: 10px;
  width: 40%;
}
#home-page #about-us .container .content .signature-container .signature .signature-image {
  opacity: 0;
  transform: translateX(-50px);
  animation: slideIn 1s forwards;
}
#home-page #about-us .container .content .quote {
  line-height: 160%;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
}
#home-page #about-us .container .content h2 {
  padding-bottom: 15px;
}
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
#home-page #our-services {
  background-color: #F7F7F7;
}
#home-page #our-services .section-title {
  padding-top: 90px;
  text-align: center;
}
#home-page #our-services .container {
  padding-top: 0;
}
#home-page #our-story .container {
  position: relative;
  padding-bottom: 0;
}
#home-page #our-story .container .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
#home-page #our-story .container .content .title-box {
  text-align: center;
}
#home-page #our-story .container .content .title-box .title-yellow {
  color: #D9C3A9;
}
#home-page #our-story .container .content p {
  width: 60%;
  text-align: center;
}
#home-page #our-story .container .content a {
  text-decoration: none;
  display: inline-flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  border-radius: 3px;
  transition: transform 0.3s ease;
  font-weight: 700;
  color: #F2EDDC;
  background-color: #323936;
}
#home-page #our-story .container .content a:hover {
  transform: scale(1.05);
}
#home-page #our-story .container .content .dotmap-image {
  position: absolute;
  bottom: 350px;
  z-index: -1;
}
#home-page #our-story .container .content .background-image {
  padding-top: 200px;
}
#home-page #success-stories {
  background-color: #323936;
}
#home-page #success-stories .container {
  position: relative;
}
#home-page #success-stories .container p {
  color: #FFFFFF;
}
#home-page #success-stories .container .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
#home-page #success-stories .container .content .title-box {
  text-align: center;
}
#home-page #success-stories .container .content .title-box h2 {
  color: #FFFFFF;
}
#home-page #success-stories .container .content .number-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
#home-page #success-stories .container .content .number-box div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#home-page #success-stories .container .content .number-box div .number {
  font-size: 100px;
  font-weight: 600;
  color: #D9C3A9;
}
#home-page #success-stories .container .content .number-box div .text-lg {
  font-weight: 600;
  width: 90%;
}
#home-page #success-stories .container .content .dotmap-image {
  position: absolute;
  top: 120px;
  z-index: 0;
}
#home-page #success-stories .container .content .background-image {
  z-index: 1;
}
#home-page #our-projects .container {
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
#home-page #our-projects .container .top-title {
  padding-left: 400px;
  padding-bottom: 20px;
}
#home-page #our-projects .container .projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
#home-page #our-projects .container .projects .item {
  height: 480px;
}
#home-page #our-projects .container .projects .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#home-page #our-projects .container .projects .item .title-box {
  height: auto;
  width: 25%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgba(79, 89, 85, 0.58);
  color: #FFFFFF;
  transition: background-color 0.5s ease-in-out;
}
#home-page #our-projects .container .projects .item .title-box:hover {
  background-color: #323936;
  height: 25%;
  transition: background-color 0.5s ease-in-out;
}
#home-page #our-projects .container .projects .item .title-box:hover .title h6 {
  color: #D9C3A9;
  font-weight: 700;
}
#home-page #our-projects .container .projects .item .title-box:hover i {
  visibility: visible;
  font-size: 2rem;
}
#home-page #our-projects .container .projects .item .title-box .title {
  display: flex;
  flex-direction: column;
}
#home-page #our-projects .container .projects .item .title-box .title h6 {
  color: #FFFFFF;
}
#home-page #our-projects .container .projects .item .title-box i {
  visibility: hidden;
}

.wrapper {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
}

.container {
  position: relative;
  width: 100%;
  padding-left: 400px;
  padding-right: 400px;
  padding-top: 90px;
  padding-bottom: 90px;
  margin-left: auto;
  margin-right: auto;
}

#topbar {
  background-color: #4F5955;
}
#topbar .container {
  padding-top: 0;
  padding-bottom: 0;
}
#topbar .container .topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#topbar .container .topbar p {
  color: #FFFFFF;
}
#topbar .container .topbar .social-media {
  display: flex;
  align-items: center;
}
#topbar .container .topbar .social-media a i {
  padding: 20px;
  border-right: 2px solid #606966;
  color: #FFFFFF;
}
#topbar .container .topbar .social-media a .fb {
  border-left: 2px solid #606966;
}

#company-logos .container .companies {
  display: flex;
  justify-content: space-evenly;
}

footer {
  background-color: #000000;
}
footer .container {
  padding-top: 20px;
  padding-bottom: 20px;
}
footer .container .content {
  display: flex;
  align-items: center;
}
footer .container .content .text {
  color: #323936;
}
footer .container .content .text a {
  text-decoration: none;
  color: #D9C3A9;
  font-size: 14px;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
*, *::before, *::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: black;
}

html, body, section, div, header, footer, main, aside, nav, blockquote {
  margin: 0;
  padding: 0;
}

img, svg {
  vertical-align: middle;
}

body {
  line-height: 160%;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-size: 16px;
  color: #535656;
}

header .container {
  padding-top: 20px;
  padding-bottom: 20px;
}
header .container .content {
  display: flex;
  align-items: center;
  gap: 200px;
}
header .container .content .nav ul {
  display: flex;
  justify-content: center;
  gap: 70px;
  list-style-type: none;
}
header .container .content .nav ul li {
  transition: transform 0.3s ease;
}
header .container .content .nav ul li a {
  color: #323936;
  font-weight: 700;
  font-size: 16px;
}
header .container .content .nav ul li:hover {
  transition: transform 0.3s ease;
  transform: scale(1.1);
}
header .container .content .nav ul li.current a {
  color: #D9C3A9;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
*, *::before, *::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: black;
}

html, body, section, div, header, footer, main, aside, nav, blockquote {
  margin: 0;
  padding: 0;
}

img, svg {
  vertical-align: middle;
}

body {
  line-height: 160%;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-size: 16px;
  color: #535656;
}

#our-services .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#our-services .container .service-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#our-services .container .service-content h2 {
  width: 50%;
  margin: 0;
  padding-bottom: 35px;
}
#our-services .container .service-content .content-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
#our-services .container .service-content .content-box a div {
  background-color: #FFFFFF;
}
#our-services .container .service-content .content-box a div h5 {
  padding: 30px;
}
#our-services .container .service-content .content-box a div p {
  color: #323936;
  padding: 30px;
}
#our-services .container .service-content .content-box a div img {
  transition: transform 0.3s ease;
}
#our-services .container .service-content .content-box a:hover img {
  transform: scale(1.1);
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
*, *::before, *::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: black;
}

html, body, section, div, header, footer, main, aside, nav, blockquote {
  margin: 0;
  padding: 0;
}

img, svg {
  vertical-align: middle;
}

body {
  line-height: 160%;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-size: 16px;
  color: #535656;
}

#contact {
  background-color: #F7F7F7;
  position: relative;
  z-index: -3;
}
#contact .container {
  padding-bottom: 0;
  padding-top: 30px;
}
#contact .container .content {
  display: grid;
  gap: 200px;
  grid-template-columns: 1fr 1fr;
}
#contact .container .content .image-box {
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  height: 700px;
}
#contact .container .content .image-box img {
  position: absolute;
}
#contact .container .content .image-box .shape {
  bottom: 0;
  z-index: -1;
}
#contact .container .content .image-box .dots {
  bottom: 0;
  right: 0;
  z-index: -2;
}
#contact .container .content .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
#contact .container .content .info h2 {
  width: 80%;
}
#contact .container .content .info .contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
#contact .container .content .info .contact-info div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#contact .container .content .info .contact-info div .address, #contact .container .content .info .contact-info div .phone, #contact .container .content .info .contact-info div .email {
  font-weight: 600;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
*, *::before, *::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: black;
}

html, body, section, div, header, footer, main, aside, nav, blockquote {
  margin: 0;
  padding: 0;
}

img, svg {
  vertical-align: middle;
}

body {
  line-height: 160%;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-size: 16px;
  color: #535656;
}

body a {
  text-decoration: none;
}
body .section-title {
  line-height: 160%;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-weight: 700;
  color: #D9C3A9 !important;
}
body p {
  line-height: 160%;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin: 0;
}
body .text-xs {
  line-height: 160%;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-size: 13px !important;
}
body .text-s {
  line-height: 160%;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-size: 14px !important;
}
body .text-m {
  line-height: 160%;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-size: 16px !important;
}
body .text-lg {
  line-height: 160%;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-size: 18px !important;
}
body .text-xl {
  line-height: 160%;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-size: 20px !important;
}
body h1 {
  line-height: 160%;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-weight: 700;
  color: #323936;
  font-size: 70px !important;
}
body h2 {
  line-height: 160%;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-weight: 700;
  color: #323936;
  font-size: 40px !important;
}
body h3 {
  line-height: 160%;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-weight: 700;
  color: #323936;
  font-size: 30px !important;
}
body h4 {
  line-height: 160%;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-weight: 700;
  color: #323936;
  font-size: 25px !important;
}
body h5 {
  line-height: 160%;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-weight: 700;
  color: #323936;
  font-size: 22px !important;
  font-weight: 600;
}
body h6 {
  line-height: 160%;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-weight: 700;
  color: #323936;
  font-size: 18px !important;
  font-weight: 500;
}

#service-page #page-title {
  background-color: #F7F7F7;
}
#service-page #page-title .content {
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
#service-page #our-services .container {
  padding-top: 90px;
}
#service-page #our-services .container .service-content .content-box a {
  border: 2px solid #eaeaea;
}

.wrapper {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
}

.container {
  position: relative;
  width: 100%;
  padding-left: 400px;
  padding-right: 400px;
  padding-top: 90px;
  padding-bottom: 90px;
  margin-left: auto;
  margin-right: auto;
}

#topbar {
  background-color: #4F5955;
}
#topbar .container {
  padding-top: 0;
  padding-bottom: 0;
}
#topbar .container .topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#topbar .container .topbar p {
  color: #FFFFFF;
}
#topbar .container .topbar .social-media {
  display: flex;
  align-items: center;
}
#topbar .container .topbar .social-media a i {
  padding: 20px;
  border-right: 2px solid #606966;
  color: #FFFFFF;
}
#topbar .container .topbar .social-media a .fb {
  border-left: 2px solid #606966;
}

#company-logos .container .companies {
  display: flex;
  justify-content: space-evenly;
}

footer {
  background-color: #000000;
}
footer .container {
  padding-top: 20px;
  padding-bottom: 20px;
}
footer .container .content {
  display: flex;
  align-items: center;
}
footer .container .content .text {
  color: #323936;
}
footer .container .content .text a {
  text-decoration: none;
  color: #D9C3A9;
  font-size: 14px;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
*, *::before, *::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: black;
}

html, body, section, div, header, footer, main, aside, nav, blockquote {
  margin: 0;
  padding: 0;
}

img, svg {
  vertical-align: middle;
}

body {
  line-height: 160%;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-size: 16px;
  color: #535656;
}

header .container {
  padding-top: 20px;
  padding-bottom: 20px;
}
header .container .content {
  display: flex;
  align-items: center;
  gap: 200px;
}
header .container .content .nav ul {
  display: flex;
  justify-content: center;
  gap: 70px;
  list-style-type: none;
}
header .container .content .nav ul li {
  transition: transform 0.3s ease;
}
header .container .content .nav ul li a {
  color: #323936;
  font-weight: 700;
  font-size: 16px;
}
header .container .content .nav ul li:hover {
  transition: transform 0.3s ease;
  transform: scale(1.1);
}
header .container .content .nav ul li.current a {
  color: #D9C3A9;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
*, *::before, *::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: black;
}

html, body, section, div, header, footer, main, aside, nav, blockquote {
  margin: 0;
  padding: 0;
}

img, svg {
  vertical-align: middle;
}

body {
  line-height: 160%;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-size: 16px;
  color: #535656;
}

#our-services .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#our-services .container .service-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#our-services .container .service-content h2 {
  width: 50%;
  margin: 0;
  padding-bottom: 35px;
}
#our-services .container .service-content .content-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
#our-services .container .service-content .content-box a div {
  background-color: #FFFFFF;
}
#our-services .container .service-content .content-box a div h5 {
  padding: 30px;
}
#our-services .container .service-content .content-box a div p {
  color: #323936;
  padding: 30px;
}
#our-services .container .service-content .content-box a div img {
  transition: transform 0.3s ease;
}
#our-services .container .service-content .content-box a:hover img {
  transform: scale(1.1);
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
*, *::before, *::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: black;
}

html, body, section, div, header, footer, main, aside, nav, blockquote {
  margin: 0;
  padding: 0;
}

img, svg {
  vertical-align: middle;
}

body {
  line-height: 160%;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-size: 16px;
  color: #535656;
}

#contact {
  background-color: #F7F7F7;
  position: relative;
  z-index: -3;
}
#contact .container {
  padding-bottom: 0;
  padding-top: 30px;
}
#contact .container .content {
  display: grid;
  gap: 200px;
  grid-template-columns: 1fr 1fr;
}
#contact .container .content .image-box {
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  height: 700px;
}
#contact .container .content .image-box img {
  position: absolute;
}
#contact .container .content .image-box .shape {
  bottom: 0;
  z-index: -1;
}
#contact .container .content .image-box .dots {
  bottom: 0;
  right: 0;
  z-index: -2;
}
#contact .container .content .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
#contact .container .content .info h2 {
  width: 80%;
}
#contact .container .content .info .contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
#contact .container .content .info .contact-info div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#contact .container .content .info .contact-info div .address, #contact .container .content .info .contact-info div .phone, #contact .container .content .info .contact-info div .email {
  font-weight: 600;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
*, *::before, *::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: black;
}

html, body, section, div, header, footer, main, aside, nav, blockquote {
  margin: 0;
  padding: 0;
}

img, svg {
  vertical-align: middle;
}

body {
  line-height: 160%;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-size: 16px;
  color: #535656;
}

body a {
  text-decoration: none;
}
body .section-title {
  line-height: 160%;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-weight: 700;
  color: #D9C3A9 !important;
}
body p {
  line-height: 160%;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin: 0;
}
body .text-xs {
  line-height: 160%;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-size: 13px !important;
}
body .text-s {
  line-height: 160%;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-size: 14px !important;
}
body .text-m {
  line-height: 160%;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-size: 16px !important;
}
body .text-lg {
  line-height: 160%;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-size: 18px !important;
}
body .text-xl {
  line-height: 160%;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-size: 20px !important;
}
body h1 {
  line-height: 160%;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-weight: 700;
  color: #323936;
  font-size: 70px !important;
}
body h2 {
  line-height: 160%;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-weight: 700;
  color: #323936;
  font-size: 40px !important;
}
body h3 {
  line-height: 160%;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-weight: 700;
  color: #323936;
  font-size: 30px !important;
}
body h4 {
  line-height: 160%;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-weight: 700;
  color: #323936;
  font-size: 25px !important;
}
body h5 {
  line-height: 160%;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-weight: 700;
  color: #323936;
  font-size: 22px !important;
  font-weight: 600;
}
body h6 {
  line-height: 160%;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-weight: 700;
  color: #323936;
  font-size: 18px !important;
  font-weight: 500;
}

#projects-page #page-title {
  background-color: #F7F7F7;
}
#projects-page #page-title .content {
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
#projects-page #projects .container .content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 50px;
}
#projects-page #projects .container .content .items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#projects-page #projects .container .content .items a {
  text-decoration: none;
}
#projects-page #projects .container .content .items a .item {
  display: flex;
  overflow: hidden;
  transition: transform 0.3s ease;
  gap: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #F7F7F7;
}
#projects-page #projects .container .content .items a .item:hover {
  transform: translateY(-5px);
}
#projects-page #projects .container .content .items a .item img {
  object-fit: none;
  height: 270px;
  width: 790px;
}
#projects-page #projects .container .content .items a .item .title-box {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 100px;
}
#projects-page #projects .container .content .items a .item .title-box .title p {
  font-size: 0.9rem;
  color: #666;
}
#projects-page #projects .container .content .items a .item .title-box .title p i {
  margin-right: 5px;
  color: #999;
}
#projects-page #projects .container .content .items a .item .title-box .title .text {
  padding-top: 10px;
}
#projects-page #projects .container .content .items a .item .title-box .button p {
  font-weight: 600;
  color: #535656;
}
#projects-page #projects .container .content .items a .item .title-box .button p i {
  margin-left: 5px;
  color: #D9C3A9;
}
#projects-page #projects .container .content .items a:last-of-type .item {
  border: none;
}
#projects-page #projects .container .content .tags {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 30px;
  border-left: 2px solid #F7F7F7;
}
#projects-page #projects .container .content .tags .all-tags h5 {
  margin-bottom: 10px;
}
#projects-page #projects .container .content .tags .all-tags ul {
  list-style: none;
  padding: 0;
}
#projects-page #projects .container .content .tags .all-tags ul li {
  background-color: #ececec;
  display: inline-block;
  padding: 8px 15px;
  margin: 5px;
  border-radius: 5px;
  font-size: 13px;
}
#projects-page #projects .container .content .tags .support {
  background-color: #323936;
  padding: 20px;
  width: 120%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 2px;
}
#projects-page #projects .container .content .tags .support h5 {
  color: #F2EDDC;
}
#projects-page #projects .container .content .tags .support p {
  color: #FFFFFF;
}
#projects-page #projects .container .content .tags .support form {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 5px 10px;
  border-radius: 5px;
}
#projects-page #projects .container .content .tags .support form input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 13px;
  font-style: italic;
  padding: 15px;
  color: #9C9EA6;
}
#projects-page #projects .container .content .tags .support form i {
  color: #323936;
  margin-left: 10px;
  font-size: 1.3rem;
  font-weight: 300;
}
