$transparent: transparent;
$white: #FFFFFF;
$black: #000000;
$obsidian: #2D303A;
$main-gray: #323936; 
$background-gray: #F7F7F7;
$text-gray: #535656;
$light-gray: #999999;
$lighter-gray: #9C9EA6;
$lighter-gray2: #AAAAAA;
$lightest-gray: #EAEAEA;
$light-yellow: #F2EDDC;
$dark-yellow: #D9C3A9;
$green-gray: #4F5955;