<?xml version="1.0" encoding="utf-8"?>
<Content Key="dfe73702-904a-413a-836f-660d4cbd6733" Alias="Annual Report for Juva Inc." Level="3">
  <Info>
    <Parent Key="bd9749a5-01b6-44b6-bc90-34942f839ae3">Projects</Parent>
    <Path>/OfficialWebsiteHome/Projects/AnnualReportForJuvaInc</Path>
    <Trashed>false</Trashed>
    <ContentType>projectItemTemplate</ContentType>
    <CreateDate>2024-09-20T16:01:41</CreateDate>
    <NodeName Default="Annual Report for Juva Inc." />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5dc7a0d5-7b09-4f2d-958b-5af04bf827c9">projectItemTemplate</Template>
  </Info>
  <Properties>
    <projectButtonText>
      <Value><![CDATA[Read more]]></Value>
    </projectButtonText>
    <projectDate>
      <Value><![CDATA[June 15, 2024]]></Value>
    </projectDate>
    <projectPageContent>
      <Value><![CDATA[]]></Value>
    </projectPageContent>
    <projectText>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </projectText>
    <projectThumbnailImage>
      <Value><![CDATA[[
  {
    "key": "6e7efe44-312c-48fc-804a-6f8b4b266064",
    "mediaKey": "10072336-2909-4b87-9d26-b03b4b9dd672",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectThumbnailImage>
    <projectTitle>
      <Value><![CDATA[Annual Report for Juva Inc.]]></Value>
    </projectTitle>
  </Properties>
</Content>