<?xml version="1.0" encoding="utf-8"?>
<Content Key="ee6b11b0-eabf-4163-a460-7efb394425ec" Alias="Bonds &amp; Commodities" Level="3">
  <Info>
    <Parent Key="4ab48bfc-3167-4580-bb4a-4cbb8f933dbb">Services </Parent>
    <Path>/OfficialWebsiteHome/Services/BondsCommodities</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceItemTemplate</ContentType>
    <CreateDate>2024-10-02T17:45:10</CreateDate>
    <NodeName Default="Bonds &amp; Commodities" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3c88fd7d-f216-4510-abdc-287e41336028">serviceItemTemplate</Template>
  </Info>
  <Properties>
    <itemText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </itemText>
    <pageContent>
      <Value><![CDATA[]]></Value>
    </pageContent>
    <pageTitle>
      <Value><![CDATA[Bonds & Commodities]]></Value>
    </pageTitle>
    <thumbnailImage>
      <Value><![CDATA[[
  {
    "key": "4d92388b-24be-4fb3-8053-9aea6eb8953d",
    "mediaKey": "42e503f4-05fc-4dc5-8ca3-82fa99e4ac2d",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </thumbnailImage>
  </Properties>
</Content>