<?xml version="1.0" encoding="utf-8"?>
<Content Key="44d43df6-80c9-4ca7-be28-1b5139b02b2c" Alias="Business Insights for SP Group..." Level="3">
  <Info>
    <Parent Key="bd9749a5-01b6-44b6-bc90-34942f839ae3">Projects</Parent>
    <Path>/OfficialWebsiteHome/Projects/BusinessInsightsForSPGroup</Path>
    <Trashed>false</Trashed>
    <ContentType>projectItemTemplate</ContentType>
    <CreateDate>2024-09-24T15:30:52</CreateDate>
    <NodeName Default="Business Insights for SP Group..." />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5dc7a0d5-7b09-4f2d-958b-5af04bf827c9">projectItemTemplate</Template>
  </Info>
  <Properties>
    <projectButtonText>
      <Value><![CDATA[Read more]]></Value>
    </projectButtonText>
    <projectDate>
      <Value><![CDATA[May 17, 2024]]></Value>
    </projectDate>
    <projectPageContent>
      <Value><![CDATA[]]></Value>
    </projectPageContent>
    <projectText>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </projectText>
    <projectThumbnailImage>
      <Value><![CDATA[[
  {
    "key": "bd2b8b53-0930-41ea-b65a-94359009b43a",
    "mediaKey": "870d8f5a-ddaf-4cd4-8069-01cdf795da7d",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectThumbnailImage>
    <projectTitle>
      <Value><![CDATA[Business Insights for SP Group...]]></Value>
    </projectTitle>
  </Properties>
</Content>