<?xml version="1.0" encoding="utf-8"?>
<Content Key="425c32ba-cbdf-4d8a-98cf-a901949f9db7" Alias="Company Logos" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CompanyLogos</Path>
    <Trashed>false</Trashed>
    <ContentType>companyLogos</ContentType>
    <CreateDate>2024-09-27T16:38:11</CreateDate>
    <NodeName Default="Company Logos" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <image1>
      <Value><![CDATA[[
  {
    "key": "9155d83e-29fb-469a-b8ec-c61c726c1e17",
    "mediaKey": "0c1be596-dfcc-4e1a-99ca-fe7d4f9aa2eb",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image1>
    <image2>
      <Value><![CDATA[[
  {
    "key": "33dcecb3-a4c0-4fdb-8c02-be00951c8c94",
    "mediaKey": "ad4678fe-e223-4f09-9019-54eb112ecfe9",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image2>
    <image3>
      <Value><![CDATA[[
  {
    "key": "1866293c-be1d-45bc-9941-6aa0ac3a6005",
    "mediaKey": "10b9988e-b07c-4744-b8da-3e763045fad7",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image3>
    <image4>
      <Value><![CDATA[[
  {
    "key": "e9b5e515-b3b5-4187-8402-fa3ac565725e",
    "mediaKey": "e1e84c95-6d3f-46fe-9945-07cee4f99f4f",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image4>
    <image5>
      <Value><![CDATA[[
  {
    "key": "f93d9d2b-af40-4f4f-aef3-afb76a24bb5b",
    "mediaKey": "260a92f4-c1df-4216-bc51-4aee0d66ea8e",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image5>
    <image6>
      <Value><![CDATA[[
  {
    "key": "a75de61d-9005-4e9c-bc89-a7de0ac268e3",
    "mediaKey": "e016bbe8-273b-4af1-8701-17e64c2a6666",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image6>
  </Properties>
</Content>