<?xml version="1.0" encoding="utf-8"?>
<Content Key="c85ca8a4-d967-45f3-9256-096b27696a28" Alias="Contact" Level="2">
  <Info>
    <Parent Key="eca46bdb-2e7e-45f7-a0be-ea317f4d6989">Official Website - Home</Parent>
    <Path>/OfficialWebsiteHome/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2024-10-03T16:52:37</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2c087fe1-cef5-40de-b9d1-b4fa5719bb66">contactPage</Template>
  </Info>
  <Properties>
    <contactAddressText>
      <Value><![CDATA[Office location]]></Value>
    </contactAddressText>
    <contactEmailText>
      <Value><![CDATA[E-mail address]]></Value>
    </contactEmailText>
    <contactImageDots>
      <Value><![CDATA[[
  {
    "key": "75f5fd17-993f-46c0-8c45-3d46253c256f",
    "mediaKey": "a8f11561-64c3-4f3c-80e8-06d335c60aa3",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactImageDots>
    <contactImageMan>
      <Value><![CDATA[[
  {
    "key": "f7b42a81-6717-41e0-8b7f-54b27dd641eb",
    "mediaKey": "17f8aea6-6001-4b67-80f3-9d032bb5f112",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactImageMan>
    <contactImageShape>
      <Value><![CDATA[[
  {
    "key": "addabed0-f501-441c-8383-67c7c62902d0",
    "mediaKey": "0dc0a931-9c4f-493d-9e3b-b23d51461fc2",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactImageShape>
    <contactPhoneText>
      <Value><![CDATA[Phone number]]></Value>
    </contactPhoneText>
    <formButtonText>
      <Value><![CDATA[Submit]]></Value>
    </formButtonText>
    <formDropdownText>
      <Value><![CDATA[Financial consulting]]></Value>
    </formDropdownText>
    <formText>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur, ligula semper sagittis lobortis, eros metus efficitur purus]]></Value>
    </formText>
    <formTitle>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </formTitle>
    <googleMapUrl>
      <Value><![CDATA[https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2035.161524189861!2d18.051319777433154!3d59.33025707461471!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465f9d61b5b2a595%3A0xd9fa560691e12d7!2sKlarabergsviadukten%2090%2C%20111%2064%20Stockholm!5e0!3m2!1ssv!2sse!4v1728058565417!5m2!1ssv!2sse]]></Value>
    </googleMapUrl>
    <pageTitle>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </pageTitle>
    <sectionTitle>
      <Value><![CDATA[Request a call back]]></Value>
    </sectionTitle>
  </Properties>
</Content>