<?xml version="1.0" encoding="utf-8"?>
<Content Key="e0c1901a-f352-4262-86ee-0170d5aeeac8" Alias="Financial Advisors for Irra Grou..." Level="3">
  <Info>
    <Parent Key="bd9749a5-01b6-44b6-bc90-34942f839ae3">Projects</Parent>
    <Path>/OfficialWebsiteHome/Projects/FinancialAdvisorsForIrraGrou</Path>
    <Trashed>false</Trashed>
    <ContentType>projectItemTemplate</ContentType>
    <CreateDate>2024-09-24T15:34:22</CreateDate>
    <NodeName Default="Financial Advisors for Irra Grou..." />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5dc7a0d5-7b09-4f2d-958b-5af04bf827c9">projectItemTemplate</Template>
  </Info>
  <Properties>
    <projectButtonText>
      <Value><![CDATA[Read more]]></Value>
    </projectButtonText>
    <projectDate>
      <Value><![CDATA[February 6, 2024]]></Value>
    </projectDate>
    <projectPageContent>
      <Value><![CDATA[]]></Value>
    </projectPageContent>
    <projectText>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </projectText>
    <projectThumbnailImage>
      <Value><![CDATA[[
  {
    "key": "1a2ac164-8558-4646-bdc1-8ef80fbcc883",
    "mediaKey": "d075b6f6-4de1-4966-9112-3a6c2cd27824",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectThumbnailImage>
    <projectTitle>
      <Value><![CDATA[Financial Advisors for Irra Grou...]]></Value>
    </projectTitle>
  </Properties>
</Content>