<?xml version="1.0" encoding="utf-8"?>
<Content Key="31b9dacd-b06a-42b6-bdc4-5e3b3bc5e650" Alias="Footer" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Footer</Path>
    <Trashed>false</Trashed>
    <ContentType>footer</ContentType>
    <CreateDate>2024-09-30T16:32:53</CreateDate>
    <NodeName Default="Footer" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <footerText>
      <Value><![CDATA[© Onatrix. All Rights Reserved. Credits to]]></Value>
    </footerText>
    <footerTextUrl>
      <Value><![CDATA[Themesflat]]></Value>
    </footerTextUrl>
    <footerUrl>
      <Value><![CDATA[https://codecanyon.net/user/themesflat/portfolio?gad_source=1&gclid=Cj0KCQjwmOm3BhC8ARIsAOSbapWFrIV9xQn6FjYnqWzZjrUuI2by3vJ3aN0Z46bF-KVbcEdErJTHhh8aAlRtEALw_wcB]]></Value>
    </footerUrl>
  </Properties>
</Content>