<?xml version="1.0" encoding="utf-8"?>
<Content Key="eca46bdb-2e7e-45f7-a0be-ea317f4d6989" Alias="Official Website - Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/OfficialWebsiteHome</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2024-08-29T14:21:42</CreateDate>
    <NodeName Default="Official Website - Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2f5984f1-0f49-41ca-b564-e21c379fe178">homePage</Template>
  </Info>
  <Properties>
    <aboutHeadline>
      <Value><![CDATA[We have 40 years experience]]></Value>
    </aboutHeadline>
    <aboutQuote>
      <Value><![CDATA[“We have over 25 years of experience providing expert financial advice to both businesses and individuals.”]]></Value>
    </aboutQuote>
    <aboutSectionTitle>
      <Value><![CDATA[ABOUT US]]></Value>
    </aboutSectionTitle>
    <aboutSignature>
      <Value><![CDATA[Tina Fox - CEO & Founder]]></Value>
    </aboutSignature>
    <aboutSignatureImage>
      <Value><![CDATA[[
  {
    "key": "c9df85ee-9043-4197-abca-4ca8ae707ed9",
    "mediaKey": "87613549-f9c3-40b7-8e02-02bc12cfbbe0",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutSignatureImage>
    <aboutText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.]]></Value>
    </aboutText>
    <heroBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "6d8a598b-b797-47e3-8c1a-a393b1c7c653",
    "mediaKey": "b52be86b-131d-4799-93d1-4280df24deb0",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </heroBackgroundImage>
    <heroButtonText>
      <Value><![CDATA[Contact us]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[/contact]]></Value>
    </heroButtonUrl>
    <heroHeadline>
      <Value><![CDATA[We bring success to you]]></Value>
    </heroHeadline>
    <heroText>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur. adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim]]></Value>
    </heroText>
    <ourStoryBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "97191b8c-1234-4895-90c0-adf1ccb80a4a",
    "mediaKey": "0b21f4f3-5f51-463f-bcd9-b030d3522515",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourStoryBackgroundImage>
    <ourStoryButtonText>
      <Value><![CDATA[Read our story]]></Value>
    </ourStoryButtonText>
    <ourStoryButtonUrl>
      <Value><![CDATA[/our-story]]></Value>
    </ourStoryButtonUrl>
    <ourStoryDotMapImage>
      <Value><![CDATA[[
  {
    "key": "c705c45e-0b0c-44ea-a1e2-ed6fbd7ee6ae",
    "mediaKey": "ae1c7d56-698a-4ce6-a565-1cbd87305ead",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourStoryDotMapImage>
    <ourStoryText>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis molestie nulla. Nam accumsanporttitor arcu,ac tincidunt lectus tincidunt sed.]]></Value>
    </ourStoryText>
    <ourStoryTitle>
      <Value><![CDATA[We are trusted by more than]]></Value>
    </ourStoryTitle>
    <ourStoryTitleYellow>
      <Value><![CDATA[4.000+ clients]]></Value>
    </ourStoryTitleYellow>
    <pageTitle>
      <Value><![CDATA[Home]]></Value>
    </pageTitle>
    <projectsSectionButtonText>
      <Value><![CDATA[Financial Services]]></Value>
    </projectsSectionButtonText>
    <projectsSectionPageHeadline>
      <Value><![CDATA[Recent]]></Value>
    </projectsSectionPageHeadline>
    <projectsSectionPageTitle>
      <Value><![CDATA[OUR PROJECTS]]></Value>
    </projectsSectionPageTitle>
    <servicesSectionTitle>
      <Value><![CDATA[OUR SERVICES]]></Value>
    </servicesSectionTitle>
    <successSection125>
      <Value><![CDATA[125]]></Value>
    </successSection125>
    <successSection125Text>
      <Value><![CDATA[More than 125 branches has been established in Europe and America]]></Value>
    </successSection125Text>
    <successSection370>
      <Value><![CDATA[370]]></Value>
    </successSection370>
    <successSection370Text>
      <Value><![CDATA[More than 370 projects has been completed]]></Value>
    </successSection370Text>
    <successSection689>
      <Value><![CDATA[689]]></Value>
    </successSection689>
    <successSection689Text>
      <Value><![CDATA[More than 100 customers has been served]]></Value>
    </successSection689Text>
    <successSectionImage>
      <Value><![CDATA[[
  {
    "key": "4990e664-7d3c-4ceb-859a-a5255c96b8bb",
    "mediaKey": "9734d15f-fb1f-491d-a19e-bfcf5fd934f7",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </successSectionImage>
    <successSectionSecondaryTitle>
      <Value><![CDATA[SUCCESS STORIES]]></Value>
    </successSectionSecondaryTitle>
    <successSectionTitle>
      <Value><![CDATA[Success story]]></Value>
    </successSectionTitle>
    <successStoriesDotMap>
      <Value><![CDATA[[
  {
    "key": "c8394eed-fa13-49ca-be30-749806c26b61",
    "mediaKey": "ae1c7d56-698a-4ce6-a565-1cbd87305ead",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </successStoriesDotMap>
  </Properties>
</Content>