<?xml version="1.0" encoding="utf-8"?>
<Content Key="bd9749a5-01b6-44b6-bc90-34942f839ae3" Alias="Projects" Level="2">
  <Info>
    <Parent Key="eca46bdb-2e7e-45f7-a0be-ea317f4d6989">Official Website - Home</Parent>
    <Path>/OfficialWebsiteHome/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>projectsListPage</ContentType>
    <CreateDate>2024-09-20T16:00:54</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6067b155-292a-42bb-876b-6c3c43081e5e">projectsListPage</Template>
  </Info>
  <Properties>
    <allTags>
      <Value><![CDATA[[
  "Report",
  "Business plans",
  "Insight",
  "Business",
  "App",
  "Project",
  "Finance",
  "Pricing"
]]]></Value>
    </allTags>
    <pageTitle>
      <Value><![CDATA[Our Projects]]></Value>
    </pageTitle>
    <supportEmail>
      <Value><![CDATA[]]></Value>
    </supportEmail>
    <supportText>
      <Value><![CDATA[online support 24/7, we are here to help you]]></Value>
    </supportText>
    <supportTitle>
      <Value><![CDATA[How can we help you?]]></Value>
    </supportTitle>
    <tagsTitle>
      <Value><![CDATA[Tags]]></Value>
    </tagsTitle>
  </Properties>
</Content>