<?xml version="1.0" encoding="utf-8"?>
<Content Key="1041bc61-8baa-4f2b-abe3-87122e17ed65" Alias="Risk Management" Level="3">
  <Info>
    <Parent Key="4ab48bfc-3167-4580-bb4a-4cbb8f933dbb">Services </Parent>
    <Path>/OfficialWebsiteHome/Services/RiskManagement</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceItemTemplate</ContentType>
    <CreateDate>2024-09-20T14:27:27</CreateDate>
    <NodeName Default="Risk Management" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3c88fd7d-f216-4510-abdc-287e41336028">serviceItemTemplate</Template>
  </Info>
  <Properties>
    <itemText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </itemText>
    <pageContent>
      <Value><![CDATA[]]></Value>
    </pageContent>
    <pageTitle>
      <Value><![CDATA[Risk Management]]></Value>
    </pageTitle>
    <thumbnailImage>
      <Value><![CDATA[[
  {
    "key": "56853f04-6ab6-4210-a539-d4c6b7b2c36e",
    "mediaKey": "8ccc228b-7628-4fa1-b61b-1a4567e1b737",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </thumbnailImage>
  </Properties>
</Content>