<?xml version="1.0" encoding="utf-8"?>
<Content Key="4ab48bfc-3167-4580-bb4a-4cbb8f933dbb" Alias="Services " Level="2">
  <Info>
    <Parent Key="eca46bdb-2e7e-45f7-a0be-ea317f4d6989">Official Website - Home</Parent>
    <Path>/OfficialWebsiteHome/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceListPage</ContentType>
    <CreateDate>2024-09-20T14:20:30</CreateDate>
    <NodeName Default="Services " />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="074448f0-e212-49cb-90bf-503d635302b0">serviceListPage</Template>
  </Info>
  <Properties>
    <customHeadline>
      <Value><![CDATA[We Provide The Solutions  To Grow Your Business Faster]]></Value>
    </customHeadline>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
  </Properties>
</Content>