<?xml version="1.0" encoding="utf-8"?>
<Content Key="7563f25d-b142-4048-b73c-66ee3ca61cc4" Alias="Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Settings</Path>
    <Trashed>false</Trashed>
    <ContentType>settings</ContentType>
    <CreateDate>2024-09-27T17:56:05</CreateDate>
    <NodeName Default="Settings" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <address>
      <Value><![CDATA[Klarabergsviadukten 90, 111 64 Stockholm]]></Value>
    </address>
    <email>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </email>
    <facebookUrl>
      <Value><![CDATA[https://www.facebook.com/?locale=sv_SE]]></Value>
    </facebookUrl>
    <linkedInUrl>
      <Value><![CDATA[https://se.linkedin.com/]]></Value>
    </linkedInUrl>
    <logotype>
      <Value><![CDATA[[
  {
    "key": "e5eae326-cb20-468f-93c8-c5e96c5543af",
    "mediaKey": "2ea2e7c3-c94d-4a9b-a0c9-d7d4d973157c",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </logotype>
    <pageTitleImage>
      <Value><![CDATA[[
  {
    "key": "c9425d6d-c641-499b-b766-9b6ff8ab3588",
    "mediaKey": "04800bbe-465c-4bbd-adf1-c97423897efe",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </pageTitleImage>
    <phoneNumber>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </phoneNumber>
    <xUrl>
      <Value><![CDATA[https://x.com/]]></Value>
    </xUrl>
  </Properties>
</Content>