<?xml version="1.0" encoding="utf-8"?>
<Content Key="fd96b833-4e94-4ad6-a1a9-6d10b0b090e8" Alias="Statistic Advisors" Level="3">
  <Info>
    <Parent Key="4ab48bfc-3167-4580-bb4a-4cbb8f933dbb">Services </Parent>
    <Path>/OfficialWebsiteHome/Services/StatisticAdvisors</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceItemTemplate</ContentType>
    <CreateDate>2024-10-02T17:47:24</CreateDate>
    <NodeName Default="Statistic Advisors" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3c88fd7d-f216-4510-abdc-287e41336028">serviceItemTemplate</Template>
  </Info>
  <Properties>
    <itemText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </itemText>
    <pageContent>
      <Value><![CDATA[]]></Value>
    </pageContent>
    <pageTitle>
      <Value><![CDATA[Statistic Advisors]]></Value>
    </pageTitle>
    <thumbnailImage>
      <Value><![CDATA[[
  {
    "key": "c5abdf9e-5e35-409a-b0c0-74c6a8af6c65",
    "mediaKey": "1a306907-2913-4808-ac0b-9ca818c055c1",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </thumbnailImage>
  </Properties>
</Content>