<?xml version="1.0" encoding="utf-8"?>
<Content Key="7b2f48d1-ce21-4c95-8b2d-9d012c270fa8" Alias="Tax and Trusts" Level="3">
  <Info>
    <Parent Key="4ab48bfc-3167-4580-bb4a-4cbb8f933dbb">Services </Parent>
    <Path>/OfficialWebsiteHome/Services/TaxAndTrusts</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceItemTemplate</ContentType>
    <CreateDate>2024-10-02T17:46:22</CreateDate>
    <NodeName Default="Tax and Trusts" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3c88fd7d-f216-4510-abdc-287e41336028">serviceItemTemplate</Template>
  </Info>
  <Properties>
    <itemText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </itemText>
    <pageContent>
      <Value><![CDATA[]]></Value>
    </pageContent>
    <pageTitle>
      <Value><![CDATA[Tax and Trusts]]></Value>
    </pageTitle>
    <thumbnailImage>
      <Value><![CDATA[[
  {
    "key": "166be304-155d-4948-9610-1794867e3a3f",
    "mediaKey": "25267874-4d7a-4f1d-a560-9847eec691ca",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </thumbnailImage>
  </Properties>
</Content>