@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import '../colors/_colors.scss';
$font-poppins: 'Poppins', sans-serif;

@mixin standard-text {
    line-height: 160%;
    font-size: 14px;
    font-weight: 400;
    font-family: $font-poppins;
    margin: 0;
}

@mixin quote{
    @include standard-text();
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
}

@mixin standard-heading {
    @include standard-text();
    font-weight: 700;
    color: $main-gray;
}

@mixin secondary-heading {
    @include standard-text();
    font-weight: 700;
    color: $dark-yellow !important;
}

@mixin text-nav {
    @include standard-text;
    font-size: 16px;
    color: $main-gray;
    font-weight: 700 !important;
}

@mixin text-xs { @include standard-text(); font-size: 13px !important;}
@mixin text-s { @include standard-text(); font-size: 14px !important; }
@mixin text-m { @include standard-text(); font-size: 16px !important; }
@mixin text-lg { @include standard-text(); font-size: 18px !important; }
@mixin text-xl { @include standard-text(); font-size: 20px !important; }

@mixin h1 { @include standard-heading(); font-size: 70px !important; }
@mixin h2 { @include standard-heading(); font-size: 40px !important; }
@mixin h3 { @include standard-heading(); font-size: 30px !important; }
@mixin h4 { @include standard-heading(); font-size: 25px !important; }
@mixin h5 { @include standard-heading(); font-size: 22px !important; font-weight: 600; }
@mixin h6 { @include standard-heading(); font-size: 18px !important; font-weight: 500; }