<?xml version="1.0" encoding="utf-8"?>
<Media Key="bb69c550-5afb-4008-bcb6-241c2ba5631f" Alias="Background Images" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BackgroundImages</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-08-29T14:24:57</CreateDate>
    <NodeName Default="Background Images" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>