<?xml version="1.0" encoding="utf-8"?>
<Media Key="cb272b76-457b-4f8b-a1e5-2378ae96790a" Alias="Company - Logos" Level="2">
  <Info>
    <Parent Key="e9734a20-eb00-4fc3-aa06-bea53dd5ff9b">Logos / Signatures</Parent>
    <Path>/LogosSignatures/CompanyLogos</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-27T16:34:51</CreateDate>
    <NodeName Default="Company - Logos" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>