<?xml version="1.0" encoding="utf-8"?>
<Media Key="a8f11561-64c3-4f3c-80e8-06d335c60aa3" Alias="Contact - Dots" Level="2">
  <Info>
    <Parent Key="bb69c550-5afb-4008-bcb6-241c2ba5631f">Background Images</Parent>
    <Path>/BackgroundImages/ContactDots</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-03T16:40:22</CreateDate>
    <NodeName Default="Contact - Dots" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/31plohvk/contact_dots.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>