<?xml version="1.0" encoding="utf-8"?>
<Media Key="0dc0a931-9c4f-493d-9e3b-b23d51461fc2" Alias="Contact - Shape" Level="2">
  <Info>
    <Parent Key="bb69c550-5afb-4008-bcb6-241c2ba5631f">Background Images</Parent>
    <Path>/BackgroundImages/ContactShape</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-03T16:40:09</CreateDate>
    <NodeName Default="Contact - Shape" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/xzrjnozg/contact_shape.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>