<?xml version="1.0" encoding="utf-8"?>
<Media Key="b52be86b-131d-4799-93d1-4280df24deb0" Alias="Hero - Background Image" Level="2">
  <Info>
    <Parent Key="bb69c550-5afb-4008-bcb6-241c2ba5631f">Background Images</Parent>
    <Path>/BackgroundImages/HeroBackgroundImage</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-29T14:26:33</CreateDate>
    <NodeName Default="Hero - Background Image" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/2qrg0a1u/sl-home2.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>