<?xml version="1.0" encoding="utf-8"?>
<Media Key="87613549-f9c3-40b7-8e02-02bc12cfbbe0" Alias="Hero - Signature" Level="2">
  <Info>
    <Parent Key="e9734a20-eb00-4fc3-aa06-bea53dd5ff9b">Logos / Signatures</Parent>
    <Path>/LogosSignatures/HeroSignature</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-29T14:27:44</CreateDate>
    <NodeName Default="Hero - Signature" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/y15domnk/onlinesignaturesnet-302-1.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>