<?xml version="1.0" encoding="utf-8"?>
<Media Key="e9734a20-eb00-4fc3-aa06-bea53dd5ff9b" Alias="Logos / Signatures" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/LogosSignatures</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-08-29T14:27:27</CreateDate>
    <NodeName Default="Logos / Signatures" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>