<?xml version="1.0" encoding="utf-8"?>
<Media Key="e016bbe8-273b-4af1-8701-17e64c2a6666" Alias="Logo6" Level="3">
  <Info>
    <Parent Key="cb272b76-457b-4f8b-a1e5-2378ae96790a">Company - Logos</Parent>
    <Path>/LogosSignatures/CompanyLogos/Logo6</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-27T16:37:05</CreateDate>
    <NodeName Default="Logo6" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/m3yfavss/06.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>