<?xml version="1.0" encoding="utf-8"?>
<Media Key="10b9988e-b07c-4744-b8da-3e763045fad7" Alias="Logo3" Level="3">
  <Info>
    <Parent Key="cb272b76-457b-4f8b-a1e5-2378ae96790a">Company - Logos</Parent>
    <Path>/LogosSignatures/CompanyLogos/Logo3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-27T16:36:36</CreateDate>
    <NodeName Default="Logo3" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/afjp5jqv/03.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>