<?xml version="1.0" encoding="utf-8"?>
<Media Key="e1e84c95-6d3f-46fe-9945-07cee4f99f4f" Alias="Logo4" Level="3">
  <Info>
    <Parent Key="cb272b76-457b-4f8b-a1e5-2378ae96790a">Company - Logos</Parent>
    <Path>/LogosSignatures/CompanyLogos/Logo4</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-27T16:36:43</CreateDate>
    <NodeName Default="Logo4" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/dkdk2v0w/04.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>