<?xml version="1.0" encoding="utf-8"?>
<Media Key="2ea2e7c3-c94d-4a9b-a0c9-d7d4d973157c" Alias="Logotype" Level="2">
  <Info>
    <Parent Key="e9734a20-eb00-4fc3-aa06-bea53dd5ff9b">Logos / Signatures</Parent>
    <Path>/LogosSignatures/Logotype</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-30T17:20:33</CreateDate>
    <NodeName Default="Logotype" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/jqwpjgbe/logo.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>