<?xml version="1.0" encoding="utf-8"?>
<Media Key="ae1c7d56-698a-4ce6-a565-1cbd87305ead" Alias="Our Story - Dot Map" Level="2">
  <Info>
    <Parent Key="bb69c550-5afb-4008-bcb6-241c2ba5631f">Background Images</Parent>
    <Path>/BackgroundImages/OurStoryDotMap</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-11T16:32:32</CreateDate>
    <NodeName Default="Our Story - Dot Map" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/1g1fughd/dot-map.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>