<?xml version="1.0" encoding="utf-8"?>
<Media Key="0b21f4f3-5f51-463f-bcd9-b030d3522515" Alias="Our Story - Background Image" Level="2">
  <Info>
    <Parent Key="bb69c550-5afb-4008-bcb6-241c2ba5631f">Background Images</Parent>
    <Path>/BackgroundImages/OurStoryBackgroundImage</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-11T16:32:52</CreateDate>
    <NodeName Default="Our Story - Background Image" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/pq5gppjy/our-story-image.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>