<?xml version="1.0" encoding="utf-8"?>
<Media Key="d075b6f6-4de1-4966-9112-3a6c2cd27824" Alias="Projects - Financial Advisors" Level="2">
  <Info>
    <Parent Key="bb69c550-5afb-4008-bcb6-241c2ba5631f">Background Images</Parent>
    <Path>/BackgroundImages/ProjectsFinancialAdvisors</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-24T15:32:38</CreateDate>
    <NodeName Default="Projects - Financial Advisors" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/pf4dgzui/pj3.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>