<?xml version="1.0" encoding="utf-8"?>
<Media Key="10072336-2909-4b87-9d26-b03b4b9dd672" Alias="Projects - Annual Report" Level="2">
  <Info>
    <Parent Key="bb69c550-5afb-4008-bcb6-241c2ba5631f">Background Images</Parent>
    <Path>/BackgroundImages/ProjectsAnnualReport</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-24T15:31:51</CreateDate>
    <NodeName Default="Projects - Annual Report" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/xhufdjta/pj1.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>