<?xml version="1.0" encoding="utf-8"?>
<Media Key="870d8f5a-ddaf-4cd4-8069-01cdf795da7d" Alias="Projects - Business Insights" Level="2">
  <Info>
    <Parent Key="bb69c550-5afb-4008-bcb6-241c2ba5631f">Background Images</Parent>
    <Path>/BackgroundImages/ProjectsBusinessInsights</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-24T15:32:13</CreateDate>
    <NodeName Default="Projects - Business Insights" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/0vcfwmog/pj2.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>