<?xml version="1.0" encoding="utf-8"?>
<Media Key="da0f248b-806a-4704-967b-bd894848d1c3" Alias="Projects - Budget Planning" Level="2">
  <Info>
    <Parent Key="bb69c550-5afb-4008-bcb6-241c2ba5631f">Background Images</Parent>
    <Path>/BackgroundImages/ProjectsBudgetPlanning</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-24T15:33:00</CreateDate>
    <NodeName Default="Projects - Budget Planning" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/atxes1ad/pj4.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>