<?xml version="1.0" encoding="utf-8"?>
<Media Key="8ccc228b-7628-4fa1-b61b-1a4567e1b737" Alias="Services - Risk Management" Level="2">
  <Info>
    <Parent Key="bb69c550-5afb-4008-bcb6-241c2ba5631f">Background Images</Parent>
    <Path>/BackgroundImages/ServicesRiskManagement</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-06T15:42:41</CreateDate>
    <NodeName Default="Services - Risk Management" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/atuiuosb/image-21-min-1.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>