<?xml version="1.0" encoding="utf-8"?>
<Media Key="95abf6ad-6b80-486c-84a6-3b46f8fe4adb" Alias="Services - Assurance &amp; Audits" Level="2">
  <Info>
    <Parent Key="bb69c550-5afb-4008-bcb6-241c2ba5631f">Background Images</Parent>
    <Path>/BackgroundImages/ServicesAssuranceAudits</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-06T15:43:33</CreateDate>
    <NodeName Default="Services - Assurance &amp; Audits" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/ei4o0i5j/image-13-min-1.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>