<?xml version="1.0" encoding="utf-8"?>
<Media Key="de707625-92d1-4807-8c3e-3780bfeaaee6" Alias="Services - Financial Advisor" Level="2">
  <Info>
    <Parent Key="bb69c550-5afb-4008-bcb6-241c2ba5631f">Background Images</Parent>
    <Path>/BackgroundImages/ServicesFinancialAdvisor</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-06T15:44:07</CreateDate>
    <NodeName Default="Services - Financial Advisor" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/vk4dm0fy/image-23-min-1.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>