<?xml version="1.0" encoding="utf-8"?>
<Media Key="1a306907-2913-4808-ac0b-9ca818c055c1" Alias="Services - Statistic Advisors" Level="2">
  <Info>
    <Parent Key="bb69c550-5afb-4008-bcb6-241c2ba5631f">Background Images</Parent>
    <Path>/BackgroundImages/ServicesStatisticAdvisors</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-06T15:44:21</CreateDate>
    <NodeName Default="Services - Statistic Advisors" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/rcrhnld0/image-24-min-1.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>