<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9e880832-830b-4af6-8e40-ceb0aeb21e6b" Alias="Projects List Page - Support Email - Email Property Editor UI" Level="1">
  <Info>
    <Name>Projects List Page - Support Email - Email Property Editor UI</Name>
    <EditorAlias>Umbraco.EmailAddress</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.EmailAddress</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "inputType": "email"
}]]></Config>
</DataType>